<<template>
	<div class="container">
		<h1>desks</h1>
<!-- add desk -->
<form @submit.prevent ="addNewDesk" >
	<div class="mb-3">
		 <!-- чтобы само поле ввода становилось красным при ошибке is-invalid -->
	    <input type="text" v-model="name" class="form-control" :class="{ ' is-invalid ': $v.name.$error }" placeholder="название организации"  > 
	    	<div class="invalid-feedback" v-if="!$v.name.required" >
      			обязательное поле
    		</div>
    		<div class="invalid-feedback" v-if="!$v.name.maxLength">
      			мах колво символов {{$v.name.$params.maxLength.max}}
    		</div> 
	</div>
	<button type="submit" class="btn btn-primary mt-3">Add Client</button>
</form>
<!-- error loading desk  error loading data -->	
		<div class="alert alert-danger" role="alert" v-if="errored">
  				error loading data! {{ errors[0]}}
		</div>
<!-- list desks -->
		<div class="row">
			<div class="col-lg-4" v-for="desk in desks">
				<div class="card mt-3" >
				 <router-link class="card-body" :to="{name: 'ShowDesk', params: { deskId:desk.id } }">
				 	<h3 class="card-title"> {{desk.name}} </h3>
				 </router-link>
				 <button type="button" @click="deleteDesk(desk.id)" class="btn btn-danger mt-3">Del</button>
				</div>
			</div>			
		</div>

	
	</div>
</template>

<script>
import { required, maxLength} from 'vuelidate/lib/validators'
export default {

  name: 'Desks',

  data () {
    return {
    	desks: [],
    	errored: false,
    	loading: true,
    	name: null,
    }
  },
  mounted(){
  	this.getAllDesks()
  },
  methods: {
  	getAllDesks(){
  		axios.get('http://127.0.0.1:8000/api/desks').then(response =>{
  		//console.log(response)
	  		this.desks=response.data.data
	  	})
	  	.catch(error => {
	  			console.log(error.response)
	  			this.errored=true
	  	})
	  	.finally( () => {
	  			this.loading =false
	  	})
  	  	
  	},
  	addNewDesk(){
  		this.$v.$touch()
  		if(this.$v.$anyError){
  			console.log("error222");
  			return false;
  		}
  		axios.post('http://127.0.0.1:8000/api/desks', {
  			name: this.name
  			
  		})
  		.then(response =>{
  		//console.log(response)
  			this.name=''
  			this.desks=[]
        this.$v.$reset()  // сбросить поля валидации чтоб не было ошибок
  			this.getAllDesks()
  		})
  		.catch(error => {
  			console.log(error.errors)
  			if(error.response.data.errors.name){
  			this.errors =[]
  			this.errors.push(error.response.data.errors.name[0]);
  			
  			}
  			this.errored=true
  		})
  		.finally( () => {
  			this.loading =false
  		})  
  	},
  	deleteDesk(id){
    		if (confirm("Are you del desk ?")){
    			axios.post('http://127.0.0.1:8000/api/desks/'+id, {
    			_method: 'DELETE',
    			
    			
    		}).then(response =>{
    			//console.log(response)
    			this.desks=[]
    			this.getAllDesks()
  		  	})
  		  	.catch(error => {
  		  			console.log(error)
  		  			this.errored=true
  		  	})
  		  	.finally( () => {
  		  			this.loading =false
  		  	})
    		}
  	}
  },
  validations:{
  	name:{
  		required,
  		maxLength: maxLength(50)
  		}
  	}
  
}
</script>

<style lang="css" scoped>
</style>