<template>
	<div class="container">
	<div class="w-25 ">	
		<input type="text" v-model="title" class=" mb-3 form-control" placeholder="title" >
		<div ref="dropzone" class="p-5 mb-3 btn d-block bg-info text-center ">
			upload
		</div>
    <div class="mb-3">
      <vue-editor useCustomImageHandler @image-removed="handleImageRemoved" @image-added="handleImageAdded"    v-model="content">
      </vue-editor>
    </div>
		<input @click.prevent="store" type="submit" class="btn btn-danger mb-3" value="add" >
    <input @click.prevent="update" type="submit" class="btn btn-info mb-3" value="Update" >
	</div>
  <div class="mt-5">
    <div v-if="lastpost">
      
        <h4> {{ lastpost.title}}</h4>
        <div v-for="img in lastpost.images " class="mb-3">
            <img :src="img.url">
            <img :src="img.preview_img" class="mb-2">   
        </div>
        <div class="ql-editor"  v-html="lastpost.content"></div>
      
    </div>

  </div>
	</div>	
</template>

<script>
import { VueEditor } from "vue2-editor";
import Dropzone from 'dropzone';
export default {
  components: {
    VueEditor
  },
  name: 'About',
  mounted(){
  		this.dropzone = new Dropzone(this.$refs.dropzone, {
  			url: '/api/images',
  			autoProcessQueue: false,
        addRemoveLinks: true

  		})
       this.dropzone.on('removedfile', (file) =>{
          //console.log(file);
          this.imagesIdsForDelete.push(file.id)
       }) 
       this.getlastPost()


  },
  data () {
    return {
    		dropzone: null,
    		title: null,
        lastpost: null,
        content: null,
        imagesIdsForDelete: [],
        imageUrlsForDelete: [],
    }
  },
  methods: {


  	store(){
       const data = new FormData();
       const files = this.dropzone.getAcceptedFiles()
       files.forEach( file => {
          data.append('images[]' , file)
          this.dropzone.removeFile(file)
       })

       data.append('content', this.content)
       data.append('title', this.title)
       this.title = ''
       this.content = ''
  		 axios.post('/api/images', data)
       .then( res => {
            this.getlastPost()
       })
  		},

    update(){
      //console.log(this.imagesIdsForDelete);
      
       const data = new FormData();
       const files = this.dropzone.getAcceptedFiles()
       files.forEach( file => {
          data.append('images[]' , file)
          this.dropzone.removeFile(file)
       })

       this.imagesIdsForDelete.forEach(idForDelete =>{
          data.append('image_ids_for_delete[]', idForDelete)
       })


       // second video 10
        this.imageUrlsForDelete.forEach(urlForDelete =>{
          data.append('image_urls_for_delete[]', urlForDelete)
       })

       data.append('content', this.content)
       data.append('title', this.title)
       
       data.append('_method', 'PATCH')
       this.title = ''
       this.content = ''
       axios.post(`/api/images/${this.lastpost.id}`, data)
       .then( res => {


            let preview = this.dropzone.previewsContainer.querySelectorAll('.dz-image-preview');
            preview.forEach( prev1 => {
              prev1.remove()
            })
            this.getlastPost()
       })
       
      },



    getlastPost(){
        axios.get('/api/images')
        .then( res => {
             //console.log(res);
            this.lastpost = res.data.data

            this.title = this.lastpost.title
            this.content = this.lastpost.content

            this.lastpost.images.forEach( image =>{
                 // If you only have access to the original image sizes on your server,
          // and want to resize them in the browser:
          let file = { id:image.id, name: image.name, size: image.size };
          this.dropzone.displayExistingFile(file, image.preview_img);


            })
         
        })
      },

    handleImageAdded(file, Editor, cursorLocation, resetUploader) {
        var formData = new FormData();
        formData.append("image", file);
        axios.post('/api/storeditor',formData )
          .then(result => {
            const url = result.data.url; // Get url from response
            Editor.insertEmbed(cursorLocation, "image", url);
            resetUploader();
          })
          .catch(err => {
            console.log(err);
          });

       },

       handleImageRemoved(url) {
          //console.log(url)
          this.imageUrlsForDelete.push(url)
       }



   

  }
}
</script>

<style lang="css" >

.dz-success-mark {
  display: none
}

.dz-error-mark {
  display: none
}
</style>