<template>
    <div class="w-50">

        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">NAME</label>
        </div>
        <div class="mb-3">
            <input type="text" class="form-control" id="name" v-model="name" placeholder="NAME" >
        </div>
        <div class="mb-3">
            <input type="number" class="form-control" id="age" v-model="age"  placeholder="AGE">
        </div>
        <div class="mb-3">
            <input type="text" class="form-control" id="job" v-model="job" placeholder="JOB" >
        </div>
        <input type="submit" @click.prevent="addPerson" class="btn btn-primary" value="ADD">

    </div>
</template>

<script>
export default {
    name: "AddPerson",

    data () {
        return {
            name: null,
            age: 0,
            job: null
        }
    },
    mounted(){
      // console.log(this.$parent.$refs.myparam.indexLog() )
    },
    methods:{
        addPerson() {
            axios.post('/api/persons', { name: this.name , age: this.age, job: this.job })
                .then(res => {
                    this.name = null
                    this.age = 0
                    this.job = null
                    //console.log( res);
                    this.$parent.$refs.myparam.getPersons()

                })
        }
    }
}
</script>

<style scoped>

</style>
