<template>
	<div>
		<nav class="navbar navbar-expand-lg navbar-light bg-light">
			<div class="container">
				<div class=navbar-nav>
					<router-link class="nav-item nav-link" :to="{name: 'home'}">Home</router-link>

					<router-link class="nav-item nav-link" :to="{name: 'about'}">About</router-link>
					

					<router-link class="nav-item nav-link" :to="{name: 'postcomponent'}">Postcomponent</router-link>

					<router-link class="nav-item nav-link" :to="{name: 'desks'}">Desks</router-link>
				</div>

			</div>
		</nav>
		<div>
			<router-view></router-view>
		</div>
	</div>





</template>

<script>
export default {

  name: 'App',

  data () {
    return {

    }
  }
}
</script>

<style lang="css" scoped>
</style>
