<template>
    <div >
        <table class="table">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Имя</th>
                <th scope="col">age</th>
                <th scope="col">JOB</th>
                <th scope="col">EDIT</th>
            </tr>
            </thead>
            <tbody>
            <template  v-for="person in people " >

                <tr >
                    <th scope="row">{{ person.id }}</th>
                    <td>{{ person.name }}</td>
                    <td>{{ person.age }}</td>
                    <td>{{ person.job }}</td>
                    <td><a href="#" @click.prevent="changeEditPersonId(person.id , person.name,  person.age , person.job )" class="btn btn-primary" >Edit</a></td>
                </tr>
                <tr :class=" isEdit(person.id)? ' ' :'d-none' " >
                    <th scope="row">{{person.id }}</th>
                    <td><input type="text" v-model="name"  class="form-control"></td>
                    <td><input type="number" v-model="age" class="form-control"></td>
                    <td><input type="text" v-model="job"  class="form-control"></td>
                    <!-- @click.prevent="changeEditPersonId(null)" -->
                    <td><a href="#" @click.prevent=" updatePerson(person.id )" class="btn btn-primary" >Update</a></td>
                </tr>
            </template>

            </tbody>
        </table>
    </div>
</template>

<script>
export default {
    name: "IndexComponent.vue",
    data () {
        return {
            people: null,


            editPersonId: null, //id той персоны которая в текущий момент отрыта для редактирова
            name: '',
            age: null,
            job: ''

        }
    },
    mounted() {
        this.getPersons()
      //  this.$parent.parentLog()
    },
    methods:{
        getPersons(){
            axios.get('/api/persons')
                .then( res=> {
                    this.people = res.data;
                })
        },
        updatePerson(id){
            this.editPersonId = null
            axios.put(`/api/persons/${id}`, {  name: this.name, age: this.age, job: this.job } )
                .then( res => {
                    this.getPersons()
                })
        },
        changeEditPersonId(id, name, age, job ){
            this.editPersonId = id
            this.name = name
            this.age = age
            this.job = job

        },
        isEdit(id){
            return this.editPersonId === id

        },

        indexLog(){
            console.log( 'this is IndexComponent log')
        }
    }
}
</script>

<style scoped>

</style>
