<template>

    <div class="container">

        <IndexComponent ref="myparam"></IndexComponent>
        <AddPerson ></AddPerson>
    </div>
</template>

<script>

import AddPerson from "./AddPerson";
import IndexComponent from "./IndexComponent";
export default {

  name: 'Postcomponent',
    components:{
        IndexComponent,
        AddPerson
    },

    mounted(){
     //   console.log(this.$refs.myparam.indexLog() )
    },
    methods:{

      parentLog(){
          console.log('parent log')
        }
    }


}
</script>

<style lang="css" scoped>
</style>
